CREATE DATABASE SIEUTHIDIENMAY

-- Huyen Nguyen TYPES, MANUFACTURES, PRODUCTS
CREATE TABLE TYPES
(
ID INT NOT NULL PRIMARY KEY
,NAME NVARCHAR(50)
);

CREATE TABLE MANUFACTURES
(
ID INT NOT NULL PRIMARY KEY
,NAME NVARCHAR(50)
,DESCRIBE NVARCHAR(200)
);

CREATE TABLE PRODUCTS
(
ID INT NOT NULL PRIMARY KEY
,NAME NVARCHAR(50)
,DESCRIBE NVARCHAR(200)
,PRICE MONEY
,TYPE_ID INT NOT NULL
,MANU_ID  INT NOT NULL
);

ALTER TABLE PRODUCTS ADD FOREIGN KEY(TYPE_ID) REFERENCES TYPES(ID)
ALTER TABLE PRODUCTS ADD FOREIGN KEY(MANU_ID) REFERENCES MANUFACTURES(ID)

-- Hoang
CREATE TABLE POSITION
(
ID INT NOT NULL PRIMARY KEY
,NAME NVARCHAR(50)
,MA_BP_CV INT NOT NULL
);

CREATE TABLE DEPARTMENT
(
ID INT NOT NULL PRIMARY KEY
,NAME NVARCHAR(50)
);

CREATE TABLE EMPLOYEES
(
 ID INT NOT NULL PRIMARY KEY
,NAME NVARCHAR(200)
,BIRTHDAY DATE NOT NULL
,DIRECTION NVARCHAR(50) NOT NULL
,SALARY INT NOT NULL
,GIOITINH NVARCHAR(50) NOT NULL
,POSITION_ID INT NOT NULL
,DEPART_ID INT NOT NULL
);

---KHÓA NGOẠI 
ALTER TABLE POSITION ADD FOREIGN KEY (MA_BP_CV) REFERENCES DEPARTMENT(ID)
ALTER TABLE EMPLOYEES ADD FOREIGN KEY(POSITION_ID) REFERENCES POSITION(ID)
ALTER TABLE EMPLOYEES ADD FOREIGN KEY(DEPART_ID) REFERENCES DEPARTMENT(ID)

-- Thanh Duy
GO
CREATE TABLE USERS
(
	ID INT NOT NULL PRIMARY KEY
	,USERNAME NVARCHAR(50)
	,PASS NVARCHAR(50)
	,EMAIL NVARCHAR(50)
	,PHONE NVARCHAR(50)
)

GO
CREATE TABLE SHOPCART
(
	ID INT NOT NULL PRIMARY KEY
	,USER_ID INT NOT NULL
	,PRODUCT_ID INT NOT NULL 
)

GO
CREATE TABLE INVOICE
(
	ID INT NOT NULL PRIMARY KEY
	,NGAYBAN DATE
	,USER_ID INT NOT NULL
	,PRODUCT_ID INT NOT NULL 
	,EMPLOYEE_ID INT NOT NULL
)

GO
CREATE TABLE FEEDBACK
(
	ID INT NOT NULL PRIMARY KEY
	,TITLE NVARCHAR(50)
	,DESCRIBE  NVARCHAR(50)
	,USER_ID INT NOT NULL
)

-- SHOPCART FOREIGN KEY
ALTER TABLE SHOPCART ADD FOREIGN KEY (USER_ID) REFERENCES USERS(ID)
ALTER TABLE SHOPCART ADD FOREIGN KEY (PRODUCT_ID) REFERENCES PRODUCTS(ID)

-- INVOICE FOREIGN KEY
ALTER TABLE INVOICE ADD FOREIGN KEY (USER_ID) REFERENCES USERS(ID)
ALTER TABLE INVOICE ADD FOREIGN KEY (PRODUCT_ID) REFERENCES PRODUCTS(ID)
ALTER TABLE INVOICE ADD FOREIGN KEY (EMPLOYEE_ID) REFERENCES EMPLOYEES(ID)

--FEEDBACK FOREIGN KEY
ALTER TABLE FEEDBACK ADD FOREIGN KEY (USER_ID) REFERENCES USERS(ID)


---------=== Huyen - STORE ===------------

--store ADD PRODUCT
go
CREATE PROC sp_Add_PRODUCT
(
 @ID INT 
,@NAME NVARCHAR(50)
,@PRICE MONEY
,@DESCRIBE NVARCHAR(200)
,@TYPE_ID INT 
,@MANU_ID INT
)
as
INSERT INTO PRODUCTS(ID, NAME,PRICE ,DESCRIBE,TYPE_ID,MANU_ID) 
VALUES (@ID,@NAME, @PRICE, @DESCRIBE, @TYPE_ID,@MANU_ID)

--STORED UPDATE PRODUCTS
go
create proc sp_Update_PRODUCT
(
 @ID INT 
,@NAME NVARCHAR(50)
,@PRICE MONEY
,@DESCRIBE NVARCHAR(200)
,@TYPE_ID INT 
,@MANU_ID INT
)
as
update PRODUCTS 
set  NAME= @NAME	
,PRICE=@PRICE
,DESCRIBE =@DESCRIBE
,TYPE_ID =@TYPE_ID
,MANU_ID= @MANU_ID
where ID = @ID

--STORED DELETE PRODUCT
go
create proc sp_Delete_PRODUCT 
(
@ID INT
)
as
delete
from PRODUCTS
where ID=@ID

--STORE GET ALL PRODUCT
go
CREATE PROC sp_All_PRODUCT
AS
 SELECT * FROM PRODUCTS
 
 --- chay thu chuong trinh
 -----CHEN MANUFACTURES, types de chay chuong trinh
INSERT INTO MANUFACTURES VALUES(1,'SAMSUNG','AAAAAA')
INSERT INTO MANUFACTURES VALUES(2,'APPLE','DDDDDD')

INSERT INTO TYPES VALUES (1,'DIEN THOAI')
INSERT INTO TYPES VALUES (2,'LAPTOP')
INSERT INTO TYPES VALUES (3,'TABLET')

-- chen san pham
EXEC sp_Add_Product 1,'samsung J7 Prime',2000000,'mot san pham moi',1,1
EXEC sp_Add_Product 2,'iphone X',2500000,'mot san pham moi cua apple',2,1
-- xem tat ca san pham
 exec sp_All_PRODUCT

---------=== Hoang - STORE ===----------
--- STORE ALL DEPARTMENT 
GO
CREATE PROC [dbo].[SP_All_DEPARTMENT]
AS
SELECT * FROM DEPARTMENT

--- STORE ADD DEPARTMENT
GO
CREATE PROC [dbo].[SP_THEM_DEPARTMENT] (@mabp INT, @tenbp NVARCHAR(50))
AS
INSERT INTO DEPARTMENT
VALUES (@mabp,@tenbp)

--- STORE DELETE DEPARTMENT
GO
CREATE PROC [dbo].[SP_XOA_DEPARTMENT](@mabp INT)
AS
DELETE
FROM DEPARTMENT
WHERE ID = @mabp


--- STORE UPDATE DEPARTMENT
GO
CREATE PROC [dbo].[sp_SUA_DEPARTMENT](@mabp INT, @tenbp NVARCHAR(50))
AS
UPDATE DEPARTMENT 
SET NAME = @tenbp
WHERE ID = @mabp


--- STORE ALL POSTION
GO
CREATE PROC [dbo].[SP_All_POSITION]
AS
SELECT * FROM POSITION


--- STORE ADD POSITION
GO
CREATE PROC [dbo].[SP_THEM_POSITION](@macv INT, @tencv NVARCHAR(50), @tenbophan INT)
AS
INSERT INTO POSITION
VALUES (@macv, @tencv, @tenbophan)

--- STORE DELETE POSITION
GO
CREATE PROC [dbo].[SP_XOA_POSITION](@macv INT)
AS
DELETE
FROM POSITION
WHERE ID = @macv


--- STORE UPDATE STORE
GO
CREATE PROC [dbo].[SP_SUA_POSITION](@macv INT, @tencv NVARCHAR(50))
AS
UPDATE POSITION 
SET NAME = @tencv
WHERE ID = @macv

--- STORE ALL EMPLOYEES
GO
create proc [dbo].[SP_All_EMPLOYEES]
AS
SELECT * FROM EMPLOYEES
GO

--- STORE ADD EMPLOYEES 
GO
CREATE PROC [dbo].[SP_THEM_EMPLOYEES] (@manv INT, @tennv NVARCHAR(50), @ngaysinh DATE, @diachi NVARCHAR(50),  @luong MONEY, @gioitinh NVARCHAR(50), @mabophan INT, @machucvu INT)
AS
INSERT INTO EMPLOYEES values (@manv, @tennv, @ngaysinh, @diachi, @luong, @gioitinh, @mabophan, @machucvu)
--- STORE DELETE EMPLOYEES
GO
CREATE PROC [dbo].[SP_XOA_EMPLOYEES] (@manv INT)
AS
DELETE
FROM EMPLOYEES
WHERE ID = @manv
GO

--- STORE UPDATE EMPLOYEES
GO
CREATE PROC [dbo].[SP_SUA_EMPLOYEES](@manv INT, @tennv NVARCHAR(50), @ngaysinh DATE, @diachi NVARCHAR(50),  @luong MONEY, @gioitinh NVARCHAR(50), @mabophan INT, @machucvu INT)
AS
UPDATE EMPLOYEES
set 
NAME = @tennv,
BIRTHDAY = @ngaysinh,
DIRECTION = @diachi,
SALARY = @luong,
GIOITINH = @gioitinh,
POSITION_ID = @mabophan,
DEPART_ID = @machucvu
WHERE ID = @manv

---------=== Duy - STORE ===------------
-- STORED ADD USER
go
CREATE PROC sp_Add_User
(
@ID INT 
,@USERNAME NVARCHAR(50)
,@PASS NVARCHAR(50)
,@EMAIL NVARCHAR(50)
,@PHONE NVARCHAR(50)
)
as
INSERT INTO USERS
VALUES (@ID,@USERNAME, @PASS, @EMAIL, @PHONE)

--STORED UPDATE USER
go
create proc sp_Update_USER
(
@ID INT 
,@USERNAME NVARCHAR(50)
,@PASS NVARCHAR(50)
,@EMAIL NVARCHAR(50)
,@PHONE NVARCHAR(50)
)
as
update USERS 
set  USERNAME= @USERNAME	
,PASS=@PASS
,EMAIL =@EMAIL
,PHONE=@PHONE
where ID = @ID

--STORED DELETE USER
go
create proc sp_Delete_USER
(
@ID INT
)
as
delete
from USERS
where ID=@ID

-- STORED GET ALL USER
go
CREATE PROC sp_All_USER
AS
 SELECT * FROM USERS
 

-- STORE ADD INVOICE
 GO
 CREATE PROC sp_Add_INVOICE(@ID INT,@NGAYBAN DATE,@USER_ID INT,@PRODUCT_ID INT,@EMPLOYEE_ID INT)
 AS
 INSERT INTO INVOICE VALUES (@ID,@NGAYBAN,@USER_ID,@PRODUCT_ID,@EMPLOYEE_ID)
 
-- STORE UPDATE INVOICE
GO
CREATE PROC sp_Update_INVOICE(@ID INT,@NGAYBAN DATE,@USER_ID INT,@PRODUCT_ID INT,@EMPLOYEE_ID INT) 
AS
update INVOICE 
set  NGAYBAN = @NGAYBAN	
,USER_ID=@USER_ID
,EMPLOYEE_ID =@EMPLOYEE_ID
,PRODUCT_ID=@PRODUCT_ID
where ID = @ID

-- STORE DELETE INVOICE
go
create proc sp_Delete_INVOICE (@ID INT)
as
delete
from INVOICE
where ID=@ID

-- STORE ALL INVOICE
go
CREATE PROC sp_All_INVOICE
AS
 SELECT * FROM INVOICE
 
---STORE ADD SHOPCART
go
CREATE PROC sp_Add_SHOPCART
(
@ID INT 
,@USER_ID INT 
,@PRODUCT_ID INT 
)
as
INSERT INTO SHOPCART
VALUES (@ID,@USER_ID, @PRODUCT_ID)

---STORE UPDATE SHOPCART
go
create proc sp_Update_SHOPCART
(
@ID INT 
,@USER_ID INT 
,@PRODUCT_ID INT 
)
as
update SHOPCART 
set  USER_ID= @USER_ID	
	,PRODUCT_ID=@PRODUCT_ID
where ID = @ID

--STORE DELETE SHOPCART
go
create proc sp_Delete_SHOPCART
(
@ID INT
)
as
delete
from SHOPCART
where ID=@ID

--STORE ALL SHOPCART

go
CREATE PROC sp_All_SHOPCART
AS
 SELECT * FROM SHOPCART
 
 exec sp_All_SHOPCART

---STORE ADD FEEDBACK
go
CREATE PROC sp_Add_FEEDBACK
(
@ID INT 
,@TITLE NVARCHAR(50)
,@DESCRIBE  NVARCHAR(50)
,@USER_ID INT 
)
as
INSERT INTO FEEDBACK
VALUES (@ID,@TITLE, @DESCRIBE,@USER_ID)

---STORE UPDATE FEEDBACK
go
create proc sp_Update_FEEDBACK
(
@ID INT 
,@TITLE NVARCHAR(50)
,@DESCRIBE  NVARCHAR(50)
,@USER_ID INT 
)
as
update FEEDBACK 
set  TITLE= @TITLE	
	,DESCRIBE=@DESCRIBE
	,USER_ID=@USER_ID
where ID = @ID

--STORE DELETE FEEDBACK
go
create proc sp_Delete_FEEDBACK
(
@ID INT
)
as
delete
from FEEDBACK
where ID=@ID

--STORED ALL FEEDBACK

go
CREATE PROC sp_All_FEEDBACK
AS
 SELECT * FROM FEEDBACK
 
 exec sp_All_FEEDBACK
